
body {

  color: black;
  overflow-x: hidden;
  font-family: 'Heebo','Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.sparta{
  padding: 10px;
  width: 80px;
  width: 80px;
  margin: auto;
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white;
  min-height: 80vh;
}
.affix {
     top: 0;
     width: 100%;
     z-index: 9999;
 }


.navmov{
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  background-color: white;
}
h1{
  font-weight: 700;
}
.pagcont{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
.name{
  font-weight: 700;
}

.prof-pic {
  width: 150px;
  height: 150px;
  border: 7px solid #e9ecef;
  border-radius: 100%;
}

.text-primary {
  color: #fed136;
}
